@font-face {
  font-family: pixelFont;
  src: url("../assets/fonts/Mechfire_Bold.otf") format("opentype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-y: visible;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

#dino-game {
  text-align: center;
  width: 90% !important;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#Skin-Selection{
  text-align: center;
  width: 90% !important;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#Skins{
  display: grid;
  width: 90% !important;
  grid-template-columns: 75px 75px 75px 75px 75px 75px 75px 75px 75px;
  grid-gap: 12px;
  align-self: center;
  justify-content: center;
}

#loading-message {
  color: white;
  text-shadow: 2px 2px #0B0029;
  font-size: clamp(2rem, 3rem + 2vw, 4rem);
  max-width: 90%;
  margin: 2em auto;
}

.main-header {
  text-align: center;
  margin: 1em auto;
  margin-bottom: 0;
  font-size: 6rem;
  text-shadow: 2px 2px #2f4aa3;
  max-width: 90% !important;
}

canvas {
  display: block;
  max-width: 800px !important;
  margin: 0 auto;
  border: 1px #0B0029 solid;
  border-radius: 12px;
}

#leaderboard-container {
  display: none;
}

#leaderboard {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0B0029;
  text-shadow: 2px 2px #258ae8;
  min-width: 40% !important;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 1em;
  border-radius: 28px;
  background: #0B0029;
  border: 2px solid #EE2DFF;
  font-family: pixelFont;
}

#leaderboard-header {
  font-size: 4rem;
}

.leaderboard-button {
  border: none;
  border-radius: 18px;
  background: #0B0029;
  font-weight: 600;
  font-size: 1.5rem;
  border: 2px solid #EE2DFF;
  transition: 1s ease-out;
  min-width: 50%;
  padding: 1em;
  margin: 2% auto;
  color: #F7FC19;
  text-shadow: 2px 2px #2f4aa3;
  font-family: pixelFont;
}

.leaderboard-button:hover {
  color: #EE2DFF;
  text-shadow: 2px 2px #0B0029;
}

input[type=text], textarea {
  background-color: #0B0029;
  color: #F7FC19;
  text-shadow: 2px 2px #2f4aa3;
  border-radius: 18px;
  width: 50%;
  font-size: 1.5rem;
  transition: ease-in 1s;
  margin: 2% auto;
}

input[type=text]:focus, textarea:focus, input[type=text]:hover, textarea:hover {
  border: 2px #EE2DFF solid;
}

.row {
  font-size: 2.5rem;
}

#leaderboard-toggle {
  border: none;
  border-radius: 18px;
  font-size: 1.125rem;
  background: #0B0029;
  font-weight: 600;
  font-size: 1.5rem;
  border: 2px solid #EE2DFF;
  color: #F7FC19;
  text-shadow: 2px 2px #2f4aa3;
  transition: 1s ease-out;
  max-width: 50%;
  padding: 10px;
  margin: 2% auto;
  font-family: pixelFont;
}

#leaderboard-toggle:hover {
  color: #EE2DFF;
}

#Select-Skin {
  border: none;
  border-radius: 18px;
  font-size: 1.125rem;
  background: #0B0029;
  font-weight: 600;
  font-size: 1.5rem;
  border: 2px solid #EE2DFF;
  color: #F7FC19;
  text-shadow: 2px 2px #2f4aa3;
  transition: 1s ease-out;
  max-width: 50%;
  padding: 1%;
  margin: 2% auto;
  font-family: pixelFont;
}

#Select-Skin:hover {
  color: #EE2DFF;
}

.Highlight {
  background: yellow;
}

.footer-image {
  width: 60%;
  background: red;
}

button {
  color: white;
}

.name {
  color: #F7FC19;
  text-shadow: 1px 1px #2f4aa3;
}

#wallet {
  margin-inline: 1em;
  width: 60%;
  /* background-color: var(--yellow); */
  filter: brightness(0) saturate(100%) invert(92%) sepia(63%) saturate(1285%) hue-rotate(341deg) brightness(113%) contrast(97%);
}

#wallet:hover {
  filter: brightness(0) saturate(100%) invert(15%) sepia(47%) saturate(5490%) hue-rotate(274deg) brightness(106%) contrast(100%);
}

/*# sourceMappingURL=cyber-dino.css.map */
